div.d1{
    text-align: center;
    color:red;
    border: solid rgb(174, 93, 193);
    border-width: 4px 10px 12px 50px;
    padding: auto;
    margin: auto;
    line-height-step:inherit;

}
div.d2{
    text-align: right;
    font-size: 20pt;
}

div.d2:hover{
    color:black;
    font-size: 50px;
}
h1,h2{
    font-size: 60px;
    
}
table{
    border-color: red;
}
tr.firstrow{
    background-color: rgb(0, 42, 169);
    color: white;
    font-size: 20px;
}
tr.second{
    background-color: aqua;
}